@use "operations" as ops;


// light & dark
$color-map: ops.extendMap($color-map, $lighten-map, get-function("lighten"));
$color-map: ops.extendMap($color-map, $darken-map, get-function("darken"));

// opacity
$color-map: ops.extendMap($color-map, $opacity-map, get-function("rgba"));

// generate
@each $prefix, $property in $color-class-map {
  @include ops.mapToClassPure($prefix, $color-map, $property, false, $state-map)
}


